.folder-item-conatiner {
  .folder-item {
    user-select: none;
    display: flex;
    align-items: center;
    padding: 3px 0;
    width: 100%;
    min-width: 200px;
    position: relative;
    z-index: 5;

    cursor: pointer;
    div {
      cursor: pointer;
    }

    .folder-name-button {
      display: flex;
      justify-content: space-between;
      width: inherit;
    }

    .item-folder-menu {
      width: 21px;
      margin-right: 20px;
      opacity: 0;
      pointer-events: none;
    }

    &:hover {
      background-color: lightgray;

      .item-folder-menu {
        position: relative;
        z-index: 10;
        opacity: 1;
        pointer-events: initial;
      }
    }
  }
}
