.main-folder-list-container {
  position: relative;
  user-select: none;

  .folder-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
  }

  &.closed {
    max-width: 0;
    overflow: hidden;
  }
}

.main-folder-list {
  border: 1px solid black;
  width: fit-content;
  min-width: 250px;

  overflow: auto;
  height: 100vh;

  user-select: none;

  &.no-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-top: 25%;

  }
}

